body {
    font-family: Arial, San-Serif;
}

code,
pre {
padding: 0.25em;
    font-family: Menlo, Lucida, Lucida Console, Monaco, DejaVu Sans Mono, monospace;
    overflow: auto;
}

pre.code-dump-json {
    background-color: #ffc;
}

pre.code-dump-xml {
    background-color: #cff;
}

code {
    font-size: large;
    color:#900;
}

div.rest_api_doc_div {
    margin: 1em;
    padding: 0.5em;
    border: 1px dashed #555;
    border-radius: 0.5em;
}

div.rest_api_doc_div-baseline {
    background-color:#fee;
}

div.rest_api_doc_div-people {
    background-color:#ffef;
}

div.rest_api_doc_div-places {
    background-color:#eff;
}

div.rest_api_doc_div-things {
    background-color:#efe;
}

h1.rest_api_doc-h1,
h2.rest_api_doc-h2,
div.rest_api_doc_div h3,
div.rest_api_doc_div h4,
div.rest_api_doc_div h5 {
    margin:0;
    margin-bottom: 0.5em;
    text-align:center;
}

p.main_doc-p code {
    font-size: large;
    color: #800;
}

div.uri_display-div,
div.wrap-toc-div {
    padding: 1em;
    text-align:center;
}

ul.toc-ul {
    margin:auto;
    display:table;
    text-align:left;
    list-style-type: none;
}

ul.toc-ul li {
    list-style-type: none;
}

code.uri-code {
    font-size: x-large;
    font-weight:bold;
    display:table;
    margin:auto;
}

span.uri_protocol_lite-span {
    color:#cc9;
}

span.uri_server_lite-span {
    color:#7c7;
}

span.uri_response_type_lite-span {
    color: #c9c;
}

span.uri_plugin-span {
    color: #800;
}

span.uri_plugin_lite-span {
    color: #e99;
}

span.uri_directory-span {
    color: #009;
}

span.uri_directory_lite-span {
    color: #99c;
}

span.uri_subdirectory-span {
    color: #000;
}

span.uri_subdirectory_lite-span {
    color: #999;
}

header.uri_structure-header,
div.uri_commands-div,
div.query_arguments-div,
div.post_arguments-div {
    margin:1em;
    padding: 0.5em;
    border: 1px dashed;
    border-radius: 0.25em;
}

header.uri_structure-header {
    border-color: #900;
}

div.uri_commands-div {
    border-color: #009;
}

div.query_arguments-div {
    border-color: #660;
}
